body {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

/*header*/
#mirage-header {
  position: relative;
  min-height: 300px;
  text-align: center;
  background-color: #2a3239;
  background: url(/images/header.png) repeat-x;
  background-size: cover;
}
.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -130px 0 0 -162px;
}
.logo img {
    opacity: 0.5;
    filter:alpha(opacity=50);
    border-radius: 50%;
}
.logo img:hover {
    opacity: 0.8;
    filter:alpha(opacity=80);
}
.content {
  background-color: #f2f2f2;
  padding-top: 24px;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.1);
}

/*content*/