body {
    font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

#mirage-header {
  position: relative;
  min-height: 400px;
  text-align: center;
  background: url(/images/header.jpg);
  background-size: cover;
}
.logo {
  position: absolute;
  left: 1%;
  right: 1%;
  bottom: 10px;
}
.logo img {
    border-radius: 50%;
}