body {
  background: url(/images/background.jpg);
  font: 15px "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

.userInfo {
  margin-top: 160px;
  padding: 0 40px;
  height: 380px;
  color: #fff;
  background-color: rgba(51, 27, 43, 0.9);
  /*ie*/
  filter: alpha(opacity=80);
  background-color: rgb(51, 27, 43);
}
.userInfo h3 {
  text-align: center;
}
.userInfo .inputInfo,
.userInfo .btnReg {
    margin: 18px 0;
}
.userInfo .input-group-addon {
  border-radius: 0;
}
.userInfo .username,
.userInfo .password,
.userInfo .btnReg {
  height: 40px;
  font-size: 16px;
  border-radius: 0;
}
.userInfo .agreeRule {
    margin: 0 0;
}