<link rel="stylesheet" href="/stylesheets/index.css" />

<!--navbar-->
{{> navbar}}

<!--header-->
<header id="mirage-header">
  <div class="logo">
    <a href=""><img src="/images/mirage.png" alt="logo"></a>
  </div>
</header>

<!--content-->

<!--footer-->