<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/images/logo.ico" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  </head>
  <body>
    {{{body}}}
    <script src="/javascripts/jquery.min.js"></script>
    <script scr="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
