<link rel="stylesheet" href="/stylesheets/login.css" />

<div class="container">
  <div class="row">
    <div class="userInfo col-md-4  col-md-offset-4">
      <form role="form" action="/login" method="post">
        <h3>用户登录</h3>
        <div class="input-group inputInfo">
          <span class="input-group-addon">
                  <li class="glyphicon glyphicon-user"></li>
          </span>
          <input class="form-control username" name="username" type="text" placeholder="Username" required>
        </div>
        <div class="input-group inputInfo">
          <span class="input-group-addon">
                  <li class="glyphicon glyphicon-lock"></li>
          </span>
          <input class="form-control password" name="password" type="password" placeholder="Password" required>
        </div>
        <div class="loginCheck clearfix">
          <div class="pull-left">
              <label class="remAutoLoginTxt" for="remAtuoLogin">
                <input id="remAutoLogin" name="remAutoLogin" type="checkbox" value="remember"> 十天内免登录
              </label>
          </div>
          <div class="pull-right">
            <a href="#" target="_blank" title="找回密码">忘记密码了?</a>
          </div>
        </div>
        <button class="btn btn-large btn-primary btn-block btnLogin" type="submit">登 录</button>
        <div class="register">
          没有账号？<a href="/register">注册>></a>
        </div>
      </form>
    </div>
  </div>
</div>