<link rel="stylesheet" href="/stylesheets/register.css" />

<div class="container">
  <div class="row">
    <div class="userInfo col-md-4  col-md-offset-4">
      <form role="form" action="/register" method="post">
        <h3>用户注册</h3>
        <div class="input-group inputInfo">
          <span class="input-group-addon">
                  <li class="glyphicon glyphicon-user"></li>
          </span>
          <input class="form-control username" name="username" type="text" placeholder="Username" required>
        </div>
        <div class="input-group inputInfo">
          <span class="input-group-addon">
                  <li class="glyphicon glyphicon-lock"></li>
          </span>
          <input class="form-control password" name="password" type="password" placeholder="Password" required>
        </div>
        <div class="input-group inputInfo">
          <span class="input-group-addon">
                  <li class="glyphicon glyphicon-lock"></li>
          </span>
          <input class="form-control password" name="confirmPass" type="password" placeholder="Confirm Password" required>
        </div>
        <label class="agreeRule" for="agreeInfo">
              <input id="agreeInfo" name="agreeInfo" type="checkbox" value="agree" required> 同意团队条款
        </label>
        <button class="btn btn-large btn-primary btn-block btnReg" type="submit">注册</button>
        <div class="register">
          已有账号？<a href="/login">登录>></a>
        </div>
      </form>
    </div>
  </div>
</div>